body
{
    color: purple;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#post
{
    background-color: rgb(196, 39, 104);
    border-radius: 1em;
    color: rgb(14, 12, 11);
    font-weight: bold;
    padding: 0.5em;
}
#cabecera
{
    background-color: seagreen;
    color: seashell;
    font-weight: bold;
    padding: 0.5em;
}