body
{
    color: purple;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#contenido2
{
    background-color: rgb(196, 39, 104);
    border-radius: 1em;
    color: rgb(14, 12, 11);
    font-weight: bold;
    padding: 0.5em; 
    font-family: Arial, Helvetica, sans-serif;
}

#cabecera
{
    background-color: rgb(138, 79, 13);
    color: seashell;
    font-weight: bold;
    padding: 0.5em;
}